[Unit]
Description=Prometheus exporter to monitor Docker Hub pull limits
After=syslog.target network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/dockerhub-pull-limit-exporter -config /etc/dockerhub-pull-limit-exporter/config.yaml

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
